body {
  max-height: 1080px;
  max-width: 1920px;
  background-color: #000000;
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-text {
  font-family: "VT323", monospace;
  color: white;
  font-size: 150pt;
  text-align: center;
  margin: 0;
}

#start-btn-img {
  width: 40%;
}

#restart-btn-img {
  width: 100%;
}

#quit-btn-img {
  width: 30%;
}

#stage-container {
  display: none;
}

#stage {
  display: grid;
  grid-template-rows: 1fr 2fr 9fr;
  background-color: black;
  max-height: 1080px;
  max-width: 1920px;
  padding: 0 20%;
}

#battle-ui {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  justify-items: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
}

#menu-img-container {
  display: flex;
}

#menu-img {
  width: 80%;
}

#tower-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  background-color: orange;
}

.slot {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr;
  background: url("../imgs/frame-pixel.png");
  background-size: cover;
}

#lives-icon {
  grid-column: 2/3;
  width: 100%;
}

#lives {
  grid-column: 3/4;
}

.text {
  font-family: "KoHo", sans-serif;
  font-size: 20pt;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 480px) {
  .text {
    font-size: 10pt;
  }
}
@media (min-width: 480px) and (max-width: 960px) {
  .text {
    font-size: 15pt;
  }
}

.tower-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tower-img {
  grid-column: 1/3;
  grid-row: 1/2;
  margin: 0 auto;
  width: 100%;
}

.tower-name {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tower-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 2/3;
}

.tower-text {
  font-size: 10pt;
}
@media (max-width: 480px) {
  .tower-text {
    font-size: 6pt;
  }
}
@media (min-width: 480px) and (max-width: 960px) {
  .tower-text {
    font-size: 10pt;
  }
}

#waves {
  grid-column: 6/8;
}

#current-wave {
  grid-column: 8/9;
}

#wave-separator {
  grid-column: 9/10;
}

#total-waves {
  grid-column: 10/11;
}

#cash {
  grid-column: 12/13;
}

#cash-text {
  grid-column: 13/14;
}

#menu {
  grid-column: 15/16;
}

#start-frame {
  grid-column: 1/2;
  background-color: black;
}

#end-frame {
  grid-column: 9/10;
  background-color: black;
}

#game-area-container {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

#game-area {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);
  background-color: rgba(211, 211, 211, 0);
  border-style: solid;
  border-color: black;
}

.cell {
  border-style: dashed;
  border-width: thin;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.tower {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#vfx-container, #projectile-container, #enemy-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.particle, .projectile, .enemy {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11.11%;
  width: 6.25%;
}

.projectile-img, .enemy-img {
  margin: 0 auto;
  width: 100%;
}

.particleVFX {
  margin: 0 auto;
  width: 100%;
  opacity: 0.5;
}

.fadeInOut {
  animation: fadeInOut 1s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
.hit-marker {
  animation: red-blip 0.5s;
}

@keyframes red-blip {
  0% {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
  }
  50% {
    filter: invert(15%) sepia(84%) saturate(6252%) hue-rotate(1deg) brightness(92%) contrast(127%);
  }
  100% {
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(0%);
  }
}
#background-img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#highlighted {
  background-color: lightpink;
}

#follow-cursor {
  position: fixed;
  overflow: scroll;
  transition: 10ms;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=main.css.map */
